.btn-area{
    &.style-1{
        a{
            display: flex;
            padding: 14px 28px;
            justify-content: center;
            align-items: center;
            gap: 12px;
            border-radius: 0px 25px;
            border: 2px solid var(--White, $color-white);
            box-shadow: 0px 24px 48px -12px rgba(18, 108, 75, 0.25);
            span{
                color: var(--White, $color-white);
                font-family: Nunito;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
            }
        }
        &:hover{
            background: var(--Crayola-Green-700, $color-white);
            border-radius: 0px 25px;
            span{
                color: $heading-color;
            }
        }
    }
}
.btn-area{
    &.style-2{
        @include transition;
        a{
            display: flex;
            padding: 14px 28px;
            justify-content: center;
            align-items: center;
            gap: 12px;
            border-radius: 0px 25px;
            border: 2px solid var(--Crayola-Green-600, #1DAC78);
            box-shadow: 0px 24px 48px -12px rgba(18, 108, 75, 0.25);
            span{
                color: var(--White, #1DAC78);
                font-family: Nunito;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
            }
        }
        &:hover{
            background: var(--Crayola-Green-700, #19996B);
            border-radius: 0px 25px;
            span{
                color: #ffffff;
            }
        }
    }
}